# Qwen2.5-1.5B-Instruct + PEFT LoRA + TRL SFTTrainer

# LLM
torch>=2.7.0
transformers>=4.53.0
accelerate>=1.8.0

# LoRA
peft>=0.16.0

# Dataset
datasets>=4.0.0

# Fine-tuning
trl>=0.23.0

# Tokenizer
sentencepiece>=0.2.0